/* marquee */
.marquee-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: aliceblue;
}

.marquee {
  display: inline-block;
}

.marquee:hover {
  animation-play-state: paused;
}