body {
	font-family: monospace;
	padding: 7.5px;
}

/* header */
.header {
	text-align: center;
}

/* section 1 */
.section1 {
  text-align: center;
  padding: 2.5px;
  background-color: aliceblue;
}

/* section 2 */
.section2 {
  text-align: center;
  padding: 2.5px;
  background-color: aliceblue;
}